.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: center;
}

.password-display {
  background-color: theme('colors.dark_grey');
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#password-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%; /* some width */
}

.copy-icon {
  font-size: 25px;
  cursor: pointer;
}

.password-settings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.length-container {
  display: flex;
  flex-direction: column;
}

.character-count-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
}

#password-length-value {
  font-size: 32px;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strength-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--very-dark-grey);
  padding: 5px 20px;
}

.strength-bar-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.strength-bar {
  height: 30px;
  width: 10px;
}

.bg-yellow {
  background-color: var(--yellow-medium);
}

.bg-orange {
  background-color: var(--orange-weak);
}

.bg-red {
  background-color: var(--red-too-weak);
}

.bg-green {
  background-color: var(--neon-green-strong);
}

.strength-bar-empty {
  box-sizing: border-box;
  background-color: var(--very-dark-grey);
  border: 2px solid var(--almost-white);
}

.bar-value-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bar-value {
  font-size: 24px;
  font-weight: 700;
}

.generate-button {
  background-color: theme('colors.neon_green_strong');
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid theme('colors.neon_green_strong');
  padding: 20px 20px;
  width: 100%;
  color: theme('colors.very_dark_grey');
}

.font-body {
  font-family: "JetBrains Mono", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.generate-button:hover:enabled {
  box-sizing: border-box;
  background-color: theme('colors.dark_grey');;
  color: theme('colors.neon_green_strong');
  border: 2px solid theme('colors.neon_green_strong');
}

.copy-icon:hover {
  color: theme('colors.almost_white');
}
