<div class="flex flex-col gap-6">
  <div class="header text-light_grey">Password Generator</div>
  <div class="password-display bg-dark_grey text-almost_white">
    <app-password-show-and-copy class="w-full" [generatedPassword]="generatedPassword"></app-password-show-and-copy>
  </div>
  <div class="password-settings bg-dark_grey text-almost_white">
    <app-password-length-slider (emitPasswordLength)="onEmit($event)"></app-password-length-slider>
    <div class="checkboxes-container">
      <div>
        <label class="checkbox-container"
        >Include Uppercase Letters
          <input
            type="checkbox"
            class="checkbox"
            id="uppercase"
            name="uppercase"
            value="UPPERCASE"
            [(ngModel)]="uppercase"
            (change)="updateTotalOptions()"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label class="checkbox-container"
        >Include Lowercase Letters
          <input
            type="checkbox"
            checked="checked"
            class="checkbox"
            id="lowercase"
            name="lowercase"
            value="LOWERCASE"
            [(ngModel)]="lowercase"
            (change)="updateTotalOptions()"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label class="checkbox-container"
        >Include Numbers
          <input
            type="checkbox"
            checked="checked"
            class="checkbox"
            id="numbers"
            name="numbers"
            value="NUMBERS"
            [(ngModel)]="numbers"
            (change)="updateTotalOptions()"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div>
        <label class="checkbox-container"
        >Include Symbols
          <input
            type="checkbox"
            checked="checked"
            class="checkbox"
            id="symbols"
            name="symbols"
            value="SYMBOLS"
            [(ngModel)]="symbols"
            (change)="updateTotalOptions()"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="flex justify-between items-center p-3 bg-very_dark_grey">
      <p>STRENGTH</p>
      <div class="bar-value-container">
        <div id="bar-value" class="bar-value" >{{textBarValue}}</div>
        <div class="strength-bar-container">
          <div class="strength-bar"
               [ngClass]="{
                'strength-bar-empty': totalOptions == 0,
                'bg-red': totalOptions == 1,
                'bg-orange': totalOptions == 2,
                'bg-yellow': totalOptions == 3,
                'bg-green': totalOptions == 4
          }"></div>
          <div class="strength-bar "
               [ngClass]="{
                'strength-bar-empty': totalOptions == 0 || totalOptions == 1,
                'bg-orange': totalOptions == 2,
                'bg-yellow': totalOptions == 3,
                'bg-green': totalOptions == 4
          }"></div>
          <div class="strength-bar"
                [ngClass]="{
                  'strength-bar-empty': totalOptions == 0 || totalOptions == 1 || totalOptions == 2,
                  'bg-yellow': totalOptions == 3,
                  'bg-green': totalOptions == 4
          }"></div>
          <div class="strength-bar"
                [ngClass]="{
                  'strength-bar-empty': totalOptions == 0 || totalOptions == 1 || totalOptions == 2 || totalOptions == 3,
                  'bg-green': totalOptions == 4
          }"></div>
        </div>
      </div>
    </div>
    <div>
      <button
        class="generate-button font-body"
        id="generate-button"
        (click)="generateAll()"
        [ngClass]="{disabled: shouldDisableGenerateButton()}"
        [disabled]="shouldDisableGenerateButton()"
      >
        GENERATE
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m12 20l-1.425-1.4l5.6-5.6H4v-2h12.175l-5.6-5.6L12 4l8 8Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
